@using CarShop.Web.ViewModels.Car
@model IEnumerable<AllCarsIndexViewModel>
@using static CarShop.Common.ApplicationConstants;
@{
    ViewData["Title"] = "All Cars";
}
<h1>Cars</h1>
@if (User.IsInRole(AdminRoleName) || User.IsInRole(ManagerRoleName))
{
    <p>
        <a asp-action="Add" class="btn btn-primary">Add New Car</a>
    </p>
}
<div class="row">
    @foreach (var car in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="@(!string.IsNullOrEmpty(car.CarImage) ? car.CarImage : "/images/no-car-img.jpg")"
                     class="card-img-top"
                     alt="Car Image"
                     style="width: 100%; height: 200px; object-fit: cover;" />
                <div class="card-body">
                    <h5 class="card-title">@car.Make @car.Model</h5>
                    <p class="card-text">
                        <strong>Price Per Day:</strong> @car.PricePerDay.ToString("C")<br />
                    </p>
                </div>
                <div class="card-footer">
                    <a asp-action="Details" asp-route-id="@car.Id" class="btn btn-info btn-sm">Details</a>
                    @if (User!.IsInRole(AdminRoleName) || User.IsInRole(ManagerRoleName))
                    {
                        <a asp-action="Edit" asp-route-id="@car.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger btn-sm">Delete</a>
                    }
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        @if (car.IsAvailable)
                        {
                            <a asp-action="Index" asp-controller="Rental" asp-route-id="@car.Id" class="btn btn-primary btn-sm">Rent</a>
                        }
                        else
                        {
                            <button class="btn btn-info btn-sm" disabled>Not Available</button>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>